.DS_Store
.python-version
Icon*
.ipynb_checkpoints
erased*
*.gdoc
*.docx
*.pptx
data/train.csv
data/train_clean.csv
notebooks/1. Data Wrangling/train_clean.csv
data/stationary/train_clean_stationary.csv
